<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.strawhat.shiro.dao.RoleDao">

    <select id="queryRoleByUser" resultType="com.strawhat.shiro.pojo.Role">
        select rname from t_user u inner join user_r ur on u.uid=ur.u_id inner join t_role r
            on ur.r_id=r.rid where account=#{account}
        </select>

</mapper>