<!doctype html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>加入888，带你轻松发发发</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

   
    <link rel="stylesheet" href="/static/css/font.css">
	<link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="#">888公司管理系统</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>

        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;" th:text="${username}"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="/templates/login.html">退出</a></dd>
            </dl>
          </li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <div style="font-size: 20px" th:text="'您好！欢迎您-'+${username}+'经理'" shiro:hasRole="GM"></div>
                  <div style="font-size: 20px" th:text="'欢迎您-'+${username}" shiro:hasRole="employee"></div>
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6b8;</i>
                        <cite>岗位管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="/position/queryPosition">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>岗位列表</cite>

                            </a>
                        </li >
                        <li>
                            <a th:_href="@{/position/addPositionView}" shiro:hasRole="GM">
                                <i class="iconfont">&#xe6a7;</i>
                                <cite>岗位添加</cite>
                            </a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>部门管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/dept/queryDept">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>部门列表</cite>

                        </a>
                    </li >
                    <li>
                        <a th:_href="@{/dept/addDeptView}" shiro:hasRole="GM">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>部门添加</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/user/findAllUser">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite>

                        </a>
                    </li >
                    <li>
                        <a th:_href="@{/user/addUserView}" shiro:hasRole="GM">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户添加</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/user/findAllUser' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2020</div>
    </div> 
</body>
</html>